.cover__subtitle {
  margin: 0 auto;
  padding: 0;
  letter-spacing: 0em;
  text-align: center;
  font-weight: 400;
  font-family: Inter;
  color: #FFFFFF;
  z-index: 2;
  margin-top: 32px;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
} 