.place__pharagraph {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  padding-top: 26px;
}

.place__pharagraph:first-child {
  padding-top: 0px;
}

@media screen and (min-width: 320px) {
  .place__pharagraph {
    max-width: 288px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
  }
} 

@media screen and (min-width: 768px) {
  .place__pharagraph {
    max-width: 352px;
    margin: 0 0;
  }
} 

@media screen and (min-width: 1024px) {
  .place__pharagraph {
    max-width: 456px;
    font-size: 18px;
    line-height: 29.34px;
  }
}

@media screen and (min-width: 1280px) {
  .place__pharagraph {
    max-width: 484px;
  }
} 