.footer__link {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 80%;
  cursor: pointer;
}

.footer__link:active {
  width: 13.853639602661133px;
  height: 17px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 1px solid #000000CC;
  box-shadow: 0px 1px 3px 0px #00000033;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}