.lead__caption {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  height: 14px;
  margin-top: 8px;
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: left;
  color: #FFFFFF;
}