.place {
  margin: 0;
  padding: 0;
  display: grid;
  
}

@media screen and (min-width: 320px) {
  .place {
    grid-template-rows: repeat(auto-fit);
    row-gap: 32px;
  }
} 

@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-template-rows: minmax(92px, 46px) minmax(340px, 1fr);
    column-gap: 28px;
    row-gap: 48px;
  }
} 

@media screen and (min-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-template-rows: minmax(152px, 76px) 440px;
    column-gap: 32px;
    row-gap: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 1fr;
    grid-template-rows: minmax(152px, 76px) 460px;
    column-gap: 40px;
    row-gap: 48px;
  }
} 