.place {
  margin: 0;
  padding: 0;
  display: grid;
}

@media screen and (min-width: 320px) {
  .place {
    grid-template-rows: 35px 46px 320px 1fr;
    row-gap: 32px;
  }
} 

@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: 340px 352px;
    grid-template-rows: 46px 1fr;
    column-gap: 28px;
    row-gap: 48px;
  }

  .place:nth-child(4) {
    height: 458px;
  }

  .place:nth-child(5) {
    height: 484px;
    grid-template-rows: 46px 390px;
  }

  .place:first-child {
    grid-template-rows: 92px;
  }
} 

@media screen and (min-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    grid-template-rows: 76px 440px;
    column-gap: 32px;
    row-gap: 48px;
  }

  .place:first-child {
    grid-template-rows: 152px 440px;
  }

  .place:nth-child(4) {
    grid-template-rows: 152px 440px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 456px;
    grid-template-rows: 76px 460px;
    column-gap: 40px;
    row-gap: 48px;
  }

  .place:first-child {
    grid-template-rows: 152px 440px;
  }

  .place:nth-child(4) {
    grid-template-rows: 152px 440px;
  }
} 