.intro__title {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .intro__title {
    min-width: 288px;
    font-size: 32px;
    line-height: 35px;
    text-align: left;
  }
}